/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: nulshock;
    src: url(fonts/nulshockbd.ttf);
}
@font-face {
    font-family: agency;
    src: url(fonts/agency.ttf);
}

@font-face{
	font-family: elephant;
	src: url(fonts/whiteelephant.ttf);
}

@font-face{
	font-family: stoutDeco;
	src: url(fonts/NotSoStoutDeco.ttf);
}

body {
	width: 100%;
	font-size: 100%;
	min-width: 100%;
	width: auto;

}

* {
	margin: 0;
	padding: 0;
}
.container-fluid{

	background-repeat: repeat-x;
	font-size: 100%;
	}


p, h1, h2, img, div, a  {
    color: #00b7a0;
    text-align: center;
	font-family: nulshock;
	line-height: 1.5;
	padding: 0;
	font-size: 100%;
	}

.wood-bg {
	background-color: #151921;
}

.quote {
	max-width: 500px;
	margin: 0 auto 0 auto;
	padding: 100px 0 25px 0;
	text-align: center;
	vertical-align: center;
}

.quote h1, .quote h2 {
	font-family: elephant;
	font-size: 300%;
	color: #fff;
}

.heading{
	margin-bottom: 20px;
}

.heading h2 {
	font-size: 500%;
	line-height: 1.6em;
	font-family: agency;
	font-style: underline;
	text-decoration: underline;
	color: #151921;
}

.moon-bg {
	position: relative;
	margin-top: 100px;
}

.description {
	position: absolute;
	top: 0;
	left: 0;
}
.description h2, .description p, .description h1, .overlay h1 {
    text-shadow: 0px -2px 0px #333,
                 	 0px 2px 3px #666;
    font-size: 250%;
    padding: 0 20px 0 20px;
    color: #fff;
    font-family: elephant;
    text-align: left;
    padding-left: 75px;
}
.description p, .overlay p{
	font-size: 200%;
	font-family: stoutDeco;
	color: #fff;

}
#title .line1 {
	font-family: elephant;
	font-size: 100%;
	color: #a77d33;
	display: block;
	line-height: 1em;
	text-align: left;
	}

#title .line2 {
	font-size: 150%;
	line-height: 1em;
	margin-left: 65px;
	text-shadow: 5px 5px 0 #493854;
	display: block;
	text-transform: uppercase;
	text-align: left;
	}

.buzz-box {
	height: 1000px;
	background-size: auto 1000px;
	background-position: top center;
	background-attachment: fixed;
}


.buzz {
	background: url('images/buzz.png');
	background-repeat: no-repeat;
	background-size: 500px 1100px;
	position: absolute;
	height: 1200px;
	width: 100%;
}

header {
	height: 75px;
	padding: 0;
	margin: 0;

}

.banner {
	padding: 0;
	margin: 0;
	height: 100px;

}


.logo {
	margin: 0;
	padding: 0;
	width: 100px;
	height: 75px;
}



a {
	text-decoration: none;
	color: inherit;
}

nav ul a li:hover {
	color: #00b7a0;
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #00b7a0;
    -webkit-fill-color: #00b7a0;
    text-shadow: 1px 0px 20px #00b7a0;
    -webkit-transition: width 0.3s; /*Safari & Chrome*/
    transition: width 0.3s;
    -moz-transition: width 0.3s; /* Firefox 4 */
    -o-transition: width 0.3s; /* Opera */
}

nav ul {
	background: transparent;
	background-color: none;
	overflow: hidden;
	color: white;
	padding: 0 ;
	margin: 0;
	text-align: center;
	list-style: none;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}


nav ul li {
	display: inline-block;
	padding: 0 15px 0 15px;

}

nav ul a li {
	font-size: 125%;
}



.handle img {
	width: 50px;
	height: 50px;
}

.floating-menu {
	position:fixed;
	width:100%;
	z-index:999;
}

.menu {
	margin-bottom: 10px;
	position: relative;
	top: 0;
	right: 0;

}

.menu.scrolling {
    background: url('images/banner.png') no-repeat center;
 	background-size: cover;
}

.handle{	
	width: 100%;
	background-color: #151921;
	background: url('images/wood.png');
	text-align: left;
	box-sizing: border-box;
	padding: 15px 10px;
	cursor: pointer;
	color: white;
	display: none;
}

/*SECTION*/

.about-menu {
	margin-top: 75px;
	padding: 0;
	width: 100%;
	background: url('images/surface.png') no-repeat center;
	height: 1000px;	 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}



video#bgvideo {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	background: url('images/background-video.png') no-repeat;
	background-size: cover;
	z-index: -5;
	position: fixed;
	bottom: 0;
	right: 0;
	overflow: hidden;
	top: 0;

}

.container-liquid {
     padding-right: 0; /*15px in bootstrap.css*/
     padding-left: 0;  /*idem*/
     margin-right: auto;
     margin-left: auto;
}

#info {
	background: url('images/about.png') no-repeat;
	position: relative;
	height: auto;
	width: 33.33%;
	padding-left: 0;
	padding-right: 0;
	float: left;
	background-size: cover;
	background-position: center;

}




.p4 {
	top: 3em;
}

img#about { 
	width: 100%;

}

#portfolio {
	position: relative;
	background-color: #151921;
	width: 100%;
	height: 75px;
}

.col-xs-3, .col-md-3 {
	padding-right: 0;
	padding-left: 0;

}


/*OVERLAY ON PORTFOLIO*/


.image-overlay{ 
	position: relative;
	display: inline-block;
	width: 100%;
	}

.overlay {
    display:none;
}

.image-overlay:hover .overlay {
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.8);
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    font-size:1em;
}

.overlay {
	text-align: center;
	vertical-align: center;
	padding-top: 50px;
}


/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 998;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img, .lightbox video source, .lighbox script {
	/** Pad the lightbox image */
    display: inline-block;
    max-height: 750px;
    max-width: 750px;
    vertical-align: middle;
    margin-top: 150px;

}

object {
	width: 750px;
	height: 750px;
}

.website {
	width: 90%;
	height: 80%;
	margin-top: 5%;
	margin-bottom: 10%;
}

.lightbox img, .lightbox video, .lighbox script {
	/** Pad the lightbox image */
    display: inline-block;
    margin-top: 150px;

}
.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}


/*FOOTER*/

footer {
	height: 300px;
	background-color: #151921;

}

.contact-row h2 , .location-row h2 , .follow-row h2{
	color: #fff;
	font-family: elephant;
	padding-top: 75px;
	font-size: 200%;
	padding-bottom: 15px;
		}

.contact-row p , .location-row p , .follow-row p, .copyright p{
	font-family:stoutDeco;
	padding-bottom: 15px;
}

.copyright {
	padding-top: 50px;

}
.copyright p {
	font-family: stoutDeco;

}
.icon { 
	width: 55px;
	height: 55px;
}

.row li {
	width: 33.3%;
	float: left;
	list-style-type: none;
	margin: 0;
}

img {
	border: 0 none;
	display: inline-block;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.inner li {
	display: inline;
	width: 100%;
	border: solid 1px white;
}



.content-holder, .work {
	background-color: invisible;
	border: 3px  #00b7a0 solid;
	box-shadow: 3px 3px 2px #2dc5a6;
}

.work {
	width: 300px;
	height: 300px;
}

.holder {
	margin: 2em;
}

@media screen and (max-width: 300px){


.description h2, .description p, .description h1, .overlay h1 {
	padding-left: 5px;
    padding-right: 5px;
}
.showing {
		max-height: 22em;
		background-color: #151921;

	}

nav ul {
		max-height: 0;
		opacity: 0.3;
	}



nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 0 15px 0 15px;
		text-align: center;
	}

.handle {
		display: block;
		background-color: #151921;
	}

.image{ display: block;
	}

.menu {
		display: block;
		float: left;
	}

.display-none {
	display: none;
	}

footer {
		height: 1500px;
	}
	.overlay p {
		display: none;
	}	

}



@media screen and (max-width: 580px){

	.description h2, 
	.description p, 
	.description h1, 
	.overlay h1 {
	    padding-left: 5px;
	    padding-right: 5px;
	}


	.buzz-box {
		display: none;
	}

	#fullscreen {
		display: none;
	}

	.showing {
		max-height: 22em;
		background-color: #151921;

	}

	nav ul {
		max-height: 0;
		opacity: 0.3;
	}


		
	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 0 15px 0 15px;
		text-align: center;
	}

	.handle {
		display: block;
		background-color: #151921;
	}

	.image{ 
		display: block;
	}

	.menu {
		display: block;
		float: left;
		}

	.display-none {
		display: none;
	}


	footer {
		height: 1500px;
	}

	.overlay p {
		display: none;
	}		

}


@media screen and (max-width: 780px){
	.buzz-box {
		display: none;
	}
	.showing {

		max-height: 22em;
		background-color: #151921;
	}
	nav ul {
		max-height: 0;
		opacity: 0.9;
	}

	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
		text-align: center;
	}

	.handle {
		display: block;
		background-color: #151921;
	}

	.image{ display: block;
	}

	.menu {
		display: block;
		float: left;
		width: 100%;
	}

footer {
		height: 750px;
	}

	.overlay p {
		display: none;
	}			


}



@media screen and (max-width: 980px){
	.buzz-box {
		display: none;
	}
	section {
		height: 1000px;
	}

	.description {
		margin-top: 10px;
	}
	.overlay h1 {
		padding-left: 10px;
		margin-top: 10px;
	}

}


@media screen and (max-width: 1200px){
	.buzz-box {
		display: none;
	}
	section {
		height: 1000px;
}

	.description {
		margin-top: 10px;
	}

		.overlay h1 {
		padding-left: 10px;
	}
}