/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ^^ MEYERS RESET ^^*/


@font-face {
font-family: 'Skia';
font-style: normal;
font-weight: normal;
src: local('Skia'), url('ufonts.com_skia.woff') format('woff');
}




html,body{
	height:100%;
  background-color: #000000;
  

  background-size:cover;
  background-repeat: repeat;
  background-position: right top;
  background-attachment: fixed;
  

}

h2 {
  font-family: courier;
  font-size: 0.75em;
  color: #ffffff;
}


h3 {
  font-family: courier;
  font-size: 3em;
  color: #ffffff;
}


a:link {
    color: #ffffff; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #2DFFBE;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #2DFFBE;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
}

span{
  animation: blink 1s infinite;
}


/* Parallax Effect */

.bgimg-1 {
  min-height: 800px;
  background-image: url('images/nasa.jpg');
}


.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-2 {
  background: #84a9f1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #c0c5ce, #343d46); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #c0c5ce, #343d46); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100%;
  opacity: 1;
  min-width: 100%;  
  padding-bottom: 100px;
}

.bgimg-3 {
  background-image: url('images/background.jpg');
  min-height: 920px;

}

.bgimg-4 {
  background: #84a9f1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4f5b66, #343d46); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4f5b66, #343d46);
  max-height: 200px;

}



@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}


.home img {
width: 70px;
height: 65px;
margin-left: 30px;
}


/*Hamburger Menu*/
.menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  z-index: 20;
}






/* work porfolio selecter*/
.image-selector {
  width: 80%;
  margin: 0 auto;
}

.image-selector .main {
  width: 100%;
}

.image-selector .sec, .btn {
  width: 100%; 
  float: left;
  display: inline-block;
}

/* Menu Ends*/

/*footer*/

.contact-icon {
  cursor:pointer;
  bottom:-15px; 
  left:50%;
  width: 30px;
  height: 30px;

}



.title, .footer {
  font-size: 2em;
  text-align: center;
  color: #ffffff;
  font-family: courier;
 }

.title{
 padding-top: 300px;
} 

.footer{
  padding-top: 30px;
  padding-bottom: 30px;
}
.padding{
  padding-top: 250px;
  padding-left: 10px;

}
 /* pages */

.profile{
  padding-top: 100px;
  padding-bottom: 100px;


}

.profile-img{
  padding-top: 100px;
  padding-left: 100px;
  width: 500px;
  height: 500px;
}

.spacing {
  padding-top: 20px;

}




div.hidden {
  display: none;
 
}

.hidden{
  display: none;
}

.work-menu{
  width: 25%;
}

.image-selector{
  padding-top: 50px;
}



/* Media Queries */ 

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.99px) { 

.profile{
  padding-left: 10px;
}

.profile-img{
  display: none;
}




}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.99px) {
.profile{
 padding-top: 50px;
 padding-left: 50px;
 width: 300px;
 height: 300px;
}
.profile-img{
  display: none;
}

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.99px) { 

.profile{
 padding-top: 50px;
 padding-left: 10px;
 width: 300px;
 height: 300px;
}


}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.99px) {

.profile{
 padding-top: 50px;
 padding-left: 20px;
 width: 370px;
 height: 370px;
}

}


